//======================= import ========================

@import '../vars';

//=======================================================


//======================= styles ========================

.main-header {
    background: linear-gradient(45deg, #487922, #ffffff00);
    padding: 40px;
}

.header-content {
    &__title {
        font-family: $font-bold;
        text-transform: uppercase;
        color: #fff;
    }
}

//=======================================================

//======================== media ========================

@media (max-width: 576px) {
    .main-header {
        padding: 30px 0;
    }
    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        &__title {
            font-size: 28px;
        }
    }
}

//=======================================================