//======================= import ========================

@import '../vars';

//=======================================================


//======================= styles ========================

.about {
    font-family: $font-light;
    font-size: 20px;
}

.about-text {
    line-height: 1.5;
    padding: 10px;
}

//=======================================================


//======================== media ========================

@media (max-width: 576px) {
    .about-text {
        text-align: center;
        padding: 10px 0;
    }
}

//=======================================================