/*======================= Import ========================*/

@import '../../vars';

/*=======================================================*/


/*==================== Main styles ======================*/

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-block {
    margin: 20px 0px 0px 0px;

    &__wish {
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }

    &__form {
        margin: 0px 0px 50px 0px;
    }
}

.calculator-form {
    &__input {
        font-family: $font-italic;
        font-size: 20px;
        border: 2px solid rgba(102, 102, 102, 0.16);
        padding: 10px;
        margin: 0px 20px 0px 0px;
    }

    &__select {
        font-family: $font-bold;
        font-size: 20px;
        border: 2px solid rgba(102, 102, 102, 0.16);
        cursor: pointer;
        padding: 10px;
        margin: 0px 20px 0px 0px;
    }

    ._btn {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 16px;
        border: none;
        background-color: rgba(0, 128, 0, .62);
        padding: 15px 15px;
        color: #ffffff;
    }
}

.result-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: $font-bold;
        font-size: 20px;
        margin: 0px 0px 5px 0px;
    }

    &__result {
        &_currency {
            font-size: 20px;
            font-family: $font-italic;
        }
    }
}

/*=======================================================*/


/*======================= Media =========================*/

@media (max-width: 1200px) {
    ._btn {
        color: #ffffff;
        background-color: rgb(0, 148, 255);
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, .30);
        border-radius: 30px;
        transition: all .9 ease;
    }
}

@media (max-width: 768px) {
    .calculator-title {
        text-align: center;
    }

    .calculator-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__select,
        &__input {
            margin: 0px 0px 20px 0px;
        }
    }
}

@media (min-width: 1200px) {
    ._btn {
        transition: all .3s ease;

        &:hover {
            color: #ffffff;
            background-color: rgba(5, 179, 5, .68);
            box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, .30);
            border-radius: 30px;
            transition: all .9 ease;
        }
    }
}

/*=======================================================*/